.winery-photo-viewer {
    border: solid 1px #C8CDD0;
    margin: 20px;
    margin-top: 0px;
    border-radius: 5px;
    height: 150px;
    img {
        width: 200px;
        padding: 10px;
        box-sizing: content-box;
    }
}